- if params[:controller] == 'spree/admin/orders' && params[:action] == 'index'
  - params_q = params.permit![:q].to_h.compact
  #order-scope-links
    %ul
      %li
        =link_to('All'      , url_for( q: params_q.except(:preorder_true, :preorder_null)) )
      %li
        -if !params_q[:preorder_null]
          =link_to('Ready'    , url_for( q: params_q.except(:preorder_true).merge(preorder_null: '1')) )
        -else
          %span Ready
      %li
        -if !params_q[:preorder_true]
          =link_to('Preorder' , url_for( q: params_q.except(:preorder_null).merge(preorder_true: '1')) )
        -else
          %span Preorder