%label#preorder_info_label Preoder Info
= f.field_container :po_estimation do
  = f.label :po_estimation, 'Estimation'
  = f.error_message_on :po_estimation
  = f.text_field :po_estimation, disabled: !@product.is_preorder?

= f.field_container :po_status do
  = f.label :po_status, 'Status PO'
  = f.error_message_on :po_status
  = f.collection_select(:po_status, Spree::Product::PO_STATUS, :to_s, :capitalize, {include_blank: true}, { :class => 'select2', disabled: !@product.is_preorder? })

= f.field_container :po_closed_at do
  = f.label :po_closed_at, 'Closed at'
  = f.error_message_on :po_closed_at
  = f.text_field :po_closed_at, :value => datepicker_field_value(@product.po_closed_at), :class => 'datepicker', disabled: !@product.is_preorder?
