.alpha.omega.four.columns
  =f.field_container :is_preorder do
    =f.label :is_preorder do
      =f.check_box :is_preorder
      Predorder
  =f.field_container :down_payment_price do
    =f.label :down_payment_price, 'Down Payment', class: 'required'
    =f.text_field :down_payment_price, :value => number_to_currency(@product.down_payment_price, :unit => ''), :required => true, disabled: !@product.is_preorder?
    = f.error_message_on :down_payment_price
